<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ottx</title>
    {%include 'bootstrap.html'%}
</head>
<body>
    <div>
        <h3>Watch Other Influencers...</h3>
      </div>
      <div class="row">
      <div class="col embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://photos.app.goo.gl/embed/4y9uXSLhNGC6YHEz9" allowfullscreen></iframe>
      </div>
      <div class="col embed-responsive em bed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/znrG_DWueBg?si=8qaT62E3wgouUQte" allowfullscreen></iframe>
      </div>
      <div class="col embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://youtube.com/embed/Q49kJeG6nr8?si=XohM7wOGZIM4P5Rj" allowfullscreen></iframe>
      </div>
      
      </div>
</body>
</html>